{% extends 'layout.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1 class="title text-center">Profile</h1>
    <div class="d-flex justify-content-center">
        <div class="col-6 bg-dark p-4 mt-5">
            Email : {{ user.email }}</br>
            {% if user.firstname is not null %}
                First Name : {{ user.firstname }}</br>
            {% endif %}
            {% if user.lastname is not null %}
                Last Name : {{ user.lastname }}</br>
            {% endif %}
            <a class="btn btn-lg btn-primary text-light col-12 mt-5" href="{{ path('profile_edit', { username: app.user.username }) }}">Edit profile</a>
        </div>
    </div>
{% endblock %}
