{% extends 'layout.html.twig' %}

{% block title %}Log In{% endblock %}

{% block body %}
    <h1 class="title text-center">Log In</h1>
    {# Form for login #}
    <form class="d-flex justify-content-center" method="POST">
        <div class="d-flex flex-column col-6 mt-5">
            <label class="h6" for="inputEmail">Email</label>
            <input class="form-control mb-3" type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
            
            <label class="h6" for="inputPassword">Password</label>
            <input class="form-control mb-3" type="password" name="password" id="inputPassword" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-lg btn-primary text-light col-12 mt-2" type="submit">Log In</button>
        </div>
    </form>
{% endblock %}
