{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	<header>
		<div class="titleHomeHeader p-md-5 flex-column text-center">
			<h1 class="h1 text-warning fw-bolder">You go abroad ?</h1>
			<h2 class="h2 text-white text-uppercase">We will help you with the best advice on your destination</h2>
		</div>
	</header>
	<div class="col-12 d-flex row my-5 p-5">
		<img class="col-6" src="https://assets.weforum.org/global_future_council/image/iaqsVsnxTVwW8ct0Bq9Q-M5UnTcKgpMvuuxea3rX3Qk.jpeg" alt="Country photo">
		<img class="col-6" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29.jpg/1920px-La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29.jpg" alt="Country photo">
	</div>
{% endblock %}
