<footer class="bg-dark text-center text-dark m-0 py-3">
    <div class="col-12 row">
        <div class="d-flex flex-column align-items-center text-center">
            <h2 class="mb-4 h3 text-primary text-nowrap">Contact us</h2>
        </div>
        <div class="my-3 d-flex justify-content-center">
            <a class="mx-5" href="#" role="button">
                <i class="fab fa-twitter text-white bg-warning rounded-circle p-3"></i>
            </a>
            <a class="mx-5" href="#" role="button">
                <i class="fab fa-facebook text-white bg-warning rounded-circle p-3"></i>
            </a>
            <a class="mx-5" href="#" role="button">
                <i class="fab fa-instagram text-white bg-warning rounded-circle p-3"></i>
            </a>
            <a class="mx-5" href="#" role="button">
                <i class="fab fa-linkedin-in text-white bg-warning rounded-circle p-3"></i>
            </a>
        </div>
    </div>
</footer>
