@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    background-color: $light;
    color: $primary;

    /* Main */
    main  {
        min-height: 80vh;
    }

    /* Login */
    .title {
        margin-top: 15vh;
    }

    /* Navbar */
    .navbar {
        a:hover {
            color: $warning;
        }
    }

    /* Header */
    header {
        background: no-repeat fixed center/200% url('../images/header.jpg');
        height: 100vh;

        .titleHomeHeader {
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
    }

    /* Footer */
    footer {
        .fab:hover {
            opacity: .7;
            transition-duration: .7;
        }
    }

    /* Comments */
    .commentUser:hover {
        color: $primary;
    }
}

/* Uploaded photo */
.vich-image {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 500px;
    }
}
