$primary: #4183C4;
$secondary: #b4b4b4;
$success: #7AB800;
$danger: #df4747;
$warning: #F77F00;
$info: #79dcfa;
$light: #e2e2e2;
$dark: #1b2630;
$white: #f3efef;

$badge_color: $danger;
$font-size-p: 1em;

$title-font: 'Rakkas';
$font-p: 'Roboto', sans-serif;
