
$primary: #4183C4;
$secondary: #b4b4b4;
$success: #7AB800;
$danger: #df4747;
$warning: #F77F00;
$info: #79dcfa;
$light: #e2e2e2;
$dark: #1b2630;
$white: #f3efef;

$badge_color: $danger;

$font-size-p: 1em;

$title-font: 'Rakkas';
$font-p: 'Roboto', sans-serif;


/* 

$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$danger: #dc3545;
$warning: #ffc107;
$info: #0dcaf0;
$light: #f8f9fa;
$dark: #212529;
$white: #ffffff;

$spacer: 1rem;
$column: 100% / 12; */