<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            {% block title %}La confirmation de votre inscription{% endblock %}
    </head>
    <body>
        {% block body %}
            <p>***Ce message est généré automatiquement. Merci de ne pas y répondre.***</p>

            <p>Votre inscription vient d'etre finalisée, nous sommes donc heureux de vous voir chez Wiki Touristique !
            Si vous avez des questions vous pouvez nous contacter</p>
        {% endblock %}
    </body>
</html>