<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Confirmation of your registration</title>
    </head>
    <body>
        <h1>***This message is generated automatically. Please don't answer it.***</h1>
        <p>
            Your registration has just been finalized, so we are happy to see you at Voyage!
            If you have any questions, you can contact us
        </p>
    </body>
</html>
